<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="./styles/styles.css" rel="stylesheet" />
    <title>Pranish | Portfolio</title>
  </head>
  <body>
    <div class="background">
      <header>
        <!--nav -->
        <div class="content_wrapper">
          <nav class="navigationBar">
            <div class="site_name">Pranish</div>
            <div class="site_hamburger"><i class="fa fa-bars"></i></div>
          </nav>
        </div>
      </header>
      <!--nav -->
      <section>
        <div class="content_wrapper">
          <div class="heroContainer">
            <div class="hero_left">
              <h2>Building Website is Fun</h2>
              <p>
                Hi, I am a <span class="hero__position"> Web developer</span>, I
                am proficient in building full stack application using MERN
                stack.
              </p>
              <button class="btn primary_btn">Contact Me</button>
              <button class="btn secondary_btn">View Projects</button>
            </div>
            <div class="hero_right">
              <img src="./images/hacker.svg" width="100%" alt="heroImage" />
            </div>
          </div>
        </div>
      </section>
    </div>
    <main>
      <!-- project section -->
      <section id="projects">
        <div class="content_wrapper">
          <div class="projectsContainer">
            <h2 class="section_heading">Recent Projects</h2>
            <div class="projects">
              <div class="project">
                <img
                  src="./images/1.jpg"
                  width="100%"
                  alt="Project 1"
                  class="project_image"
                />
                <div class="project_links">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fas fa-globe"></i> </a>
                </div>
                <p>Weather CLI</p>
              </div>
              <div class="project">
                <img
                  src="./images/2.jpg"
                  width="100%"
                  alt="Project 1"
                  class="project_image"
                />
                <div class="project_links">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fas fa-globe"></i> </a>
                </div>
                <p>Todo App</p>
              </div>
              <div class="project">
                <img
                  src="./images/3.jpg"
                  width="100%"
                  alt="Project 1"
                  class="project_image"
                />
                <div class="project_links">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fas fa-globe"></i> </a>
                </div>
                <p>Email Management</p>
              </div>
              <div class="project">
                <img
                  src="./images/4.jpg"
                  width="100%"
                  alt="Project 1"
                  class="project_image"
                />
                <div class="project_links">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fas fa-globe"></i> </a>
                </div>
                <p>CMS</p>
              </div>
              <div class="project">
                <img
                  src="./images/5.jpg"
                  width="100%"
                  alt="Project 1"
                  class="project_image"
                />
                <div class="project_links">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fas fa-globe"></i> </a>
                </div>
                <p>Grid FS</p>
              </div>
              <div class="project">
                <img
                  src="./images/6.jpg"
                  width="100%"
                  alt="Project 1"
                  class="project_image"
                />
                <div class="project_links">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fas fa-globe"></i> </a>
                </div>
                <p>Quiz App</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- skill section -->

      <section id="skills">
        <div class="content_wrapper">
          <div class="skillsContainer">
            <div class="skills_left">
              <h2 class="section_heading">Skills</h2>
            </div>
            <div class="skills_right">
              <div class="skill_text">React</div>
              <div class="skill_text">NodeJS</div>
              <div class="skill_text">MongoDB</div>
              <div class="skill_text">Express</div>
              <div class="skill_text">HTML5</div>
              <div class="skill_text">PHP</div>
              <div class="skill_text">Java</div>
              <div class="skill_text">D3.js</div>
              <div class="skill_text">Python</div>
              <div class="skill_text">CSS3</div>
              <div class="skill_text">Material-UI</div>
              <div class="skill_text">SASS</div>
              <div class="skill_text">Project Management</div>
              <div class="skill_text">Agile Methodology</div>
            </div>
          </div>
        </div>
      </section>
      <!-- blog section -->
      <section id="blogs">
        <div class="content_wrapper">
          <div class="blogsContainer">
            <h2 class="section_heading">Blogs</h2>
            <div class="blogs">
              <div class="blog">
                <a href="#">Recursions vs Iterations</a>
                <div class="blog_tags">
                  <p>JS</p>
                  <p>Time Complexity</p>
                  <p>Big O</p>
                  <p>Performance</p>
                </div>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Quod, esse cum voluptas temporibus autem asperiores at
                  consequuntur. Assumenda mollitia minus, et quasi a inventore
                  nihil iusto quaerat quos, quibusdam vel!
                </p>
              </div>
              <div class="blog">
                <a href="#">ASCII and encoding </a>
                <div class="blog_tags">
                  <p>JS</p>
                  <p>Encoding</p>
                  <p>Programming</p>
                  <p>Characters</p>
                </div>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Quod, esse cum voluptas temporibus autem asperiores at
                  consequuntur. Assumenda mollitia minus, et quasi a inventore
                  nihil iusto quaerat quos, quibusdam vel!
                </p>
              </div>
              <div class="blog">
                <a href="#">Callbacks, promises and async await</a>
                <div class="blog_tags">
                  <p>JS</p>
                  <p>Time Complexity</p>
                  <p>Big O</p>
                  <p>Performance</p>
                </div>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Quod, esse cum voluptas temporibus autem asperiores at
                  consequuntur. Assumenda mollitia minus, et quasi a inventore
                  nihil iusto quaerat quos, quibusdam vel!
                </p>
              </div>
              <div class="blog">
                <a href="#">Stack vs Queue </a>
                <div class="blog_tags">
                  <p>JS</p>
                  <p>Time Complexity</p>
                  <p>Big O</p>
                  <p>Performance</p>
                </div>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Quod, esse cum voluptas temporibus autem asperiores at
                  consequuntur. Assumenda mollitia minus, et quasi a inventore
                  nihil iusto quaerat quos, quibusdam vel!
                </p>
              </div>
              <div class="blog">
                <a href="#">Recursions vs Iterations</a>
                <div class="blog_tags">
                  <p>JS</p>
                  <p>Time Complexity</p>
                  <p>Big O</p>
                  <p>Performance</p>
                </div>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Quod, esse cum voluptas temporibus autem asperiores at
                  consequuntur. Assumenda mollitia minus, et quasi a inventore
                  nihil iusto quaerat quos, quibusdam vel!
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- about Section -->
      <section id="about">
        <div class="content_wrapper">
          <div class="aboutContainer">
            <div class="about_left">
              <h2 class="section_heading">About Me</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam tempora laudantium incidunt, suscipit, ducimus sequi
                praesentium esse enim distinctio repudiandae quo amet
                perspiciatis sit aspernatur odio consequuntur perferendis ab
                animi!
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam tempora laudantium incidunt, suscipit, ducimus sequi
                praesentium esse enim distinctio repudiandae quo amet
                perspiciatis sit aspernatur odio consequuntur perferendis ab
                animi!
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam tempora laudantium incidunt, suscipit, ducimus sequi
                praesentium esse enim distinctio repudiandae quo amet
                perspiciatis sit aspernatur odio consequuntur perferendis ab
                animi!
              </p>
            </div>
            <div class="about_right">
              <img src="./images/about.svg" width="100%" />
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <section id="footer">
        <div class="content_wrapper">
          <div class="footerContainer">
            <div class="footer_row">
              <a href="#"><i class="fab fa-github-square"></i> </a>
              <a href="#"><i class="fab fa-linkedin"></i> </a>
              <a href="#"><i class="fab fa-twitter-square"></i> </a>
              <a href="#"><i class="fab fa-facebook-square"></i> </a>
              <a href="#"><i class="fab fa-instagram"></i> </a>
            </div>
            <div class="footer_row">
              <p>Copyright&copy; Pranish 2021. All rights Reserved.</p>
            </div>
            <div class="footer_row">
              <p>Brisbane, Australia</p>
            </div>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
