<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="./styles/styles.css" rel="stylesheet" />
    <title>Pranish | Portfolio</title>
  </head>
  <body>
    <div class="background">
      <header>
        <!--nav -->
        <div class="content_wrapper">
          <nav class="navigationBar">
            <div class="site_name">Pranish</div>
            <div class="site_hamburger"><i class="fa fa-bars"></i></div>
          </nav>
        </div>
      </header>
      <!--nav -->
      <section>
        <div class="content_wrapper">
          <div class="heroContainer">
            <div class="hero_left">
              <h2>Building Website is Fun</h2>
              <p>
                Hi, I am a <span class="hero__position"> Web developer</span>, I
                am proficient in building full stack application using MERN
                stack.
              </p>
              <button class="btn primary_btn">Contact Me</button>
              <button class="btn secondary_btn">View Projects</button>
            </div>
            <div class="hero_right">
              <img src="./images/hacker.svg" width="100%" alt="heroImage" />
            </div>
          </div>
        </div>
      </section>
    </div>
    <main>
      <section id="projects">
        <div class="content_wrapper">
          <div class="projectsContainer">
            <h2 class="section_heading">Recent Projects</h2>
            <div class="projects">
              <div class="project">
                <img src="./images/1.jpg" width="100%" alt="Project 1" />
                <div class="project_links">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fas fa-globe"></i> </a>
                </div>
                <p>Weather CLI</p>
              </div>
              <div class="project">
                <img src="./images/2.jpg" width="100%" alt="Project 1" />
                <div class="project_links">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fas fa-globe"></i> </a>
                </div>
                <p>Todo App</p>
              </div>
              <div class="project">
                <img src="./images/3.jpg" width="100%" alt="Project 1" />
                <div class="project_links">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fas fa-globe"></i> </a>
                </div>
                <p>Email Management</p>
              </div>
              <div class="project">
                <img src="./images/4.jpg" width="100%" alt="Project 1" />
                <div class="project_links">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fas fa-globe"></i> </a>
                </div>
                <p>CMS</p>
              </div>
              <div class="project">
                <img src="./images/5.jpg" width="100%" alt="Project 1" />
                <div class="project_links">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fas fa-globe"></i> </a>
                </div>
                <p>Grid FS</p>
              </div>
              <div class="project">
                <img src="./images/6.jpg" width="100%" alt="Project 1" />
                <div class="project_links">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fas fa-globe"></i> </a>
                </div>
                <p>Quiz App</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="skills">
        <div class="content_wrapper">
          <div class="skillsContainer">
            <h2 class="section_heading">Skills</h2>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
