<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="./styles/styles.css" rel="stylesheet" />
    <title>Pranish | Portfolio</title>
  </head>
  <body>
    <div class="background">
      <header>
        <!--Pranish             Hamburger Menu -->
        <div class="content_wrapper">
          <nav class="navigationBar">
            <div class="site_name">Pranish</div>
            <div class="site_hamburger"><i class="fa fa-bars"></i></div>
          </nav>
        </div>
      </header>
      <section></section>
    </div>
  </body>
</html>
