@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --textSecondary: #e6e6e6;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: black;
}
.content_wrapper {
  width: 80%;
  margin: 0 auto;
}
/* header  */
.site_header {
  float: left;
}
nav {
  position: fixed;
  width: 80%;
  top: 0;
  border-bottom: 1px solid var(--textSecondary);
}
.nav_link {
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 10px 10px 10px 0;
}
.navigation_bar {
  float: right;
}

.navigation_bar ul {
  list-style: none;
}

.navigation_bar ul > li {
  display: inline;
}
