<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Flex landing page" />
    <link href="./styles/style.css" rel="stylesheet" />
    <!-- icon -->
    <!-- <link href="./images/1.jpg" rel="icon" /> -->
    <title>Flex 1</title>
  </head>
  <body>
    <header class="landingHeader">
      <div class="content_wrapper">
        <nav class="navigationContainer">
          <div class="site_header">
            <p><a href="#" class="header_link main_link">Trees</a></p>
          </div>
          <div class="navigation">
            <ul>
              <li><a href="#" class="header_link">About</a></li>
              <li><a href="#" class="header_link">Contact</a></li>
              <li><button class="btn">Save Trees</button></li>
            </ul>
          </div>
        </nav>
        <div class="headingContent">
          <p class="tagline_subtitle">Changes</p>
          <p class="tagline_title">Starts with You</p>
          <button class="btn heading_btn">Take Action</button>
        </div>
      </div>
    </header>
    <main>
      <!-- first section -->

      <section>
        <div class="content_wrapper">
          <div class="missionContainer">
            <div class="mission_left">
              <p>
                Our mission is to protect, plant, cultivate and promote trees in
                partnership with local communities in ways which support the:
                conservation of trees, forests, associated biodiversity and
                indigenous knowledge about the wise and sustainable use of
                trees, plants, soils, water and other natural resources;
              </p>
            </div>
            <div class="mission_right">
              <p>
                Building of the capacity of local communities to increase their
                resilience to environmental degradation and climate shocks
                through supporting the establishment of community-led natural
                resource management strategies;
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
