@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");
:root {
  --greyishColor: #a6a8a1;
  --sectionColor: #f7f7f7;
  --footerColor: #38363b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
body {
  line-height: 1.6em;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
section {
  padding: 4rem 0;
}

.btn {
  padding: 10px 20px;
  outline: none;
  border: 0;
  border-radius: 4px;
  background-color: var(--greyishColor);
  font-weight: 700;
  cursor: pointer;
  color: white;
  transition: opacity 300ms linear;
}

.btn:hover {
  opacity: 0.6;
}
.content_wrapper {
  width: 80%;
  margin: 0 auto;
}

/* header */
.landingHeader {
  background-image: url("../images/bg2.jpg");
  height: calc(100vh - 100px);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.header_link {
  color: white;
}
.navigationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 0;
}
.hamburger_menu {
  display: none;
  cursor: pointer;
}
.site_header .main_link {
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
}
.navigation ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.headingContent {
  padding: 150px 0;
  text-align: center;
  line-height: 50px;
}
.tagline_subtitle {
  font-size: 20px;
}

.tagline_title {
  font-size: 50px;
  padding: 10px 0;
}

.heading_btn {
  padding: 15px 20px;
}

/* section 1 */
#section1,
#section4 {
  background-color: var(--sectionColor);
}
.missionContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  text-align: justify;
}
.missionContainer > div {
  flex: 0 0 100%;
  max-width: 100%;
}
.mission_left p {
  font-weight: 700;
}

/* section 3 */

.goalContainer {
  display: flex;
  gap: 20px;
}
.goalContainer > div {
  flex: 0 0 50%;
  max-width: 50%;
}

.goal_left {
  align-self: center;
}
.goal_left > p {
  padding: 1rem 0;
  width: 80%;
}
.goal_right {
  background: url("../images/section_2.jpg") center center no-repeat;
  background-size: cover;
  height: 400px;
}

#section3 .goalContainer {
  flex-direction: row-reverse;
}
.section3_goal_right {
  background: url("../images/section_3.jpg") center center no-repeat;
  background-size: cover;
  height: 400px;
}

/* section 4 */
.subscribeContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.subscribeContainer p {
  padding: 1rem 0;
}
.subscribeContainer form {
  display: flex;
  gap: 10px;
}
.subscribe_input {
  padding: 10px 20px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
}

/* footer */
footer {
  background-color: var(--footerColor);
  color: white;
}
footer a {
  color: white;
}
.footerContainer {
  display: flex;
  justify-content: space-between;
}
.footer_right {
  display: flex;
  gap: 20px;
}

@media (min-width: 992px) {
  .missionContainer {
    flex-wrap: nowrap;
    gap: 30px;
  }
  .missionContainer > div {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 592px) {
  section {
    padding: 2rem 0;
  }
  .content_wrapper {
    width: 90%;
  }
  .navigation,
  .mission_right {
    display: none;
  }
  .hamburger_menu {
    display: block;
  }
  .goalContainer {
    flex-wrap: wrap;
  }
  .goalContainer > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footerContainer,
  .footer_right {
    flex-direction: column;
  }

  .footer_right {
    padding: 20px 0;
  }
}
