@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
body {
  line-height: 1.6em;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* header */
.landingHeader {
  background-image: url("../images/bg2.jpg");
  height: calc(100vh - 100px);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.header_link {
  color: white;
}
.navigationContainer {
  display: flex;
  justify-content: space-between;
}
