* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gameContainer {
  display: flex;
  justify-content: center;
}
.boardContainer {
  display: grid;
  /* justify-items: center; */
  grid-template-columns: repeat(3, 100px);
}
.boardContainer .cell {
  width: 100px;
  height: 50px;
  text-align: center;
  border: 1px solid grey;
  line-height: 50px;
  cursor: pointer;
}

.boardContainer .cell:hover {
  background-color: cornsilk;
}
