:root {
  --primaryColor: rgb(29, 161, 242);
  --secondaryColor: rgb(235, 230, 240);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

span.nav_link {
  display: none;
}

.btn {
  outline: 0;
  border: 0;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_wrapper {
  width: 92%;
  margin: 0 auto;
}
/* container */
.container {
  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: 48px auto;
}

/* nav */

nav {
  height: 100vh;
}
main {
  border-left: 1px solid var(--secondaryColor);
  border-right: 1px solid var(--secondaryColor);
}
.fa-twitter {
  color: var(--primaryColor);
}

.nav_link {
  font-size: 20px;
  padding: 1rem 0;
}

.twitter_btn {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: var(--primaryColor);
  cursor: pointer;
  color: white;
  /* padding: 10px; */
}

/* .twitter_btn::after {
  content: "\1F589";
  color: white;
} */
/* main section */
.headerContainer {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
}

#home {
  border-bottom: 1px solid var(--secondaryColor);
}
.statusContainer {
  display: grid;
  grid-template-columns: 48px auto;
}

.status_left img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
