:root {
  --primaryColor: rgb(29, 161, 242);
  --secondaryColor: rgb(235, 230, 240);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
section {
  padding: 0.6rem 0;
}

span.nav_link {
  display: none;
}

.btn {
  outline: 0;
  border: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_wrapper {
  width: 92%;
  margin: 0 auto;
}
/* container */
.container {
  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: 48px auto;
}

/* nav */

nav {
  height: 100vh;
}
main {
  border-left: 1px solid var(--secondaryColor);
  border-right: 1px solid var(--secondaryColor);
}
.fa-twitter {
  color: var(--primaryColor);
}

.nav_link {
  font-size: 20px;
  padding: 1rem 0;
}

.twitter_btn {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: var(--primaryColor);
  cursor: pointer;
  color: white;
  /* padding: 10px; */
}

/* .twitter_btn::after {
  content: "\1F589";
  color: white;
} */
/* main section */
.headerContainer {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
}

#home {
  border-bottom: 1px solid var(--secondaryColor);
}

/* status */

.statusContainer {
  display: grid;
  grid-template-columns: 48px auto;
}

.status_left img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#tweet_input {
  width: 100%;
  border: 0;
  outline: none;
  font-size: 14px;
  padding: 14px 0;
}
.status_globe {
  color: var(--primaryColor);
  padding: 5px 0;
}

.status_globe span {
  padding: 0 6px;
  font-weight: 600;
  font-size: 14px;
}

.status_utility {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0;
  border-top: 1px solid var(--secondaryColor);
}
.status_utility .status__utility__left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primaryColor);
}
.tweet_btn {
  border-radius: 9999px;
  color: white;
  padding: 7px 16px;
  background: var(--primaryColor);
  font-weight: 700;
}
.content_border {
  height: 10px;
  background-color: var(--secondaryColor);
}
