:root {
  --primaryColor: rgb(29, 161, 242);
  --secondaryColor: rgb(235, 230, 240);
  --lightColor: rgb(239, 243, 244);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
section {
  padding: 0.6rem 0;
}

span.nav_link {
  display: none;
}

.btn {
  outline: 0;
  border: 0;
}

.nav_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_wrapper {
  width: 92%;
  margin: 0 auto;
}
/* container */
.container {
  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: 48px auto;
}

/* nav */

nav {
  height: 100vh;
}
main {
  border-left: 1px solid var(--secondaryColor);
  border-right: 1px solid var(--secondaryColor);
}
.fa-twitter {
  color: var(--primaryColor);
}

.nav_link {
  font-size: 20px;
  padding: 1rem 0;
}

.twitter_btn {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: var(--primaryColor);
  cursor: pointer;
  color: white;
  /* padding: 10px; */
}

/* .twitter_btn::after {
  content: "\1F589";
  color: white;
} */
/* main section */
.headerContainer {
  display: flex;
  padding: 0.4rem 0;
  justify-content: space-between;
}

#home {
  font-weight: 800;
  font-size: 20px;
  border-bottom: 1px solid var(--secondaryColor);
}

aside {
  display: none;
}
/* status */

.statusContainer {
  display: grid;
  grid-template-columns: 48px auto;
}

.status_left img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#tweet_input {
  width: 100%;
  border: 0;
  outline: none;
  font-size: 14px;
  padding: 14px 0;
}

.status_globe {
  color: var(--primaryColor);
  padding: 5px 0;
  display: none;
}

.status_globe span {
  padding: 0 6px;
  font-weight: 600;
  font-size: 14px;
}
#tweet_input:focus + .status_globe {
  display: block;
}

.status_utility {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0;
  border-top: 1px solid var(--secondaryColor);
}
.status_utility .status__utility__left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primaryColor);
}
.tweet_btn {
  border-radius: 9999px;
  color: white;
  padding: 7px 16px;
  background: var(--primaryColor);
  font-weight: 700;
}
.content_border {
  height: 10px;
  background-color: var(--lightColor);
}

/* tweets */

/*  */
.tweet_left img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.tweet {
  display: grid;
  grid-template-columns: 48px auto;
  padding: 0.6rem 0;
  border-bottom: 1px solid var(--secondaryColor);
}

.tweet__header {
  display: flex;
  justify-content: space-between;
}
.tweet__header .tweet__name {
  font-weight: bold;
}

.tweet__header .tweet__handle,
.tweet__header .tweet__timestamp,
.tweet__header__right {
  color: grey;
  font-size: 15px;
}

.tweet__body img {
  border-radius: 16px;
  height: 300px;
}
.tweet__footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 592px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  /* .tweet:hover {
    background-color: var(--secondaryColor);
    cursor: pointer;
  } */
  .container {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  aside {
    display: block;
  }
  .container {
    grid-template-columns: 48px 576px 350px;
  }

  /* span.nav_link {
    display: inline;
    padding-left: 12px;
  } */

  .nav_flex {
    justify-content: flex-start;
  }
  .searchForm {
    display: flex;
    padding: 0.4rem 1rem;
    gap: 20px;
    border: 1px solid var(--secondaryColor);
    background-color: var(--lightColor);
    border-radius: 9999px;
  }
  .searchForm:focus-within {
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    background-color: white;
  }
  .search_input {
    border: 0;
    outline: none;
    font-size: 16px;
    background-color: inherit;
    width: 100%;
  }

  .asideNewsContainer {
    background-color: var(--lightColor);
  }
  .asideNews_header {
    padding: 12px;
  }
  .asideNews_header h3 {
    font-weight: 900;
  }
  .news {
    display: flex;
    padding: 12px;
    gap: 20px;
    transition: background-color 200ms linear;
    cursor: pointer;
  }
  .news:hover {
    background-color: var(--secondaryColor);
  }
  .news .news_left .news__body {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.3;
  }

  .news .news_left .news__header,
  .news .news_left .news__footer {
    color: #666;
    font-size: 12px;
  }
  .news__hashtag {
    color: var(--primaryColor);
    cursor: pointer;
  }
  .news .news_right img {
    border-radius: 8px;
  }

  .dot {
    padding: 0 5px;
    font-weight: 900;
  }
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: 250px 576px 350px;
  }

  .twitter_btn_icon {
    display: none;
  }
  .twitter_btn {
    border-radius: 9999px;
    color: white;
    padding: 12px 20px;
    background: var(--primaryColor);
    font-weight: 700;
    width: 70%;
    height: 100%;
  }
  .twitter_btn::after {
    content: "Tweet";
  }
  span.nav_link {
    display: inline;
    padding-left: 12px;
  }
}
