@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn&display=swap");
:root {
  --primaryColor: #2b00d4;
  --secondaryColor: #f9f9f9;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vollkorn", serif;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

header {
  font-family: "Vollkorn", serif;
  padding: 0.8rem 0;
}
.content_wrapper {
  width: 95%;
  margin: 0 auto;
}

.navigationBar {
  display: flex;
  justify-content: space-between;
}

.site_name {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--primaryColor);
}
.site_hamburger {
  font-size: 20px;
}
