@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn&display=swap");
:root {
  --primaryColor: #2b00d4;
  --secondaryColor: #f9f9f9;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vollkorn", serif;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

header {
  font-family: "Vollkorn", serif;
  padding: 0.8rem 0;
}

section {
  padding: 2rem 0;
}
.content_wrapper {
  width: 95%;
  margin: 0 auto;
}

.btn {
  padding: 10px 25px;
  border: 0;
  outline: none;
  font-weight: 700;
  font-size: 18px;
}

.primary_btn {
  background-color: var(--primaryColor);
  color: white;
}

.secondary_btn {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}

.section_heading {
  font-size: 2rem;
  color: var(--primaryColor);
  padding: 0.5rem 0;
}

/* navigation */

.background {
  background: url("../images/banner-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navigationBar {
  display: flex;
  justify-content: space-between;
}

.site_name {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--primaryColor);
}
.site_hamburger {
  font-size: 20px;
}

/* hero section */

.heroContainer > div {
  padding: 1rem 0;
}

.hero_left button {
  margin-right: 10px;
}
.hero_left h2 {
  font-size: 50px;
  line-height: 52px;
}

.hero_left p {
  padding: 2rem 0;
}
.hero__position {
  color: var(--primaryColor);
}

/* projects */
#projects {
  background-color: var(--secondaryColor);
}
.project {
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  position: relative;
}
.project .project_links {
  position: absolute;
  right: 15px;
  top: 20px;
}
.project .project_links a {
  color: white;
  font-size: 25px;
  padding: 0 8px;
}

/* .project p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
} */

/* skills */
.skills_right .skill_text {
  display: inline-block;
  padding: 8px 16px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin: 10px 10px 10px 0;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 200ms linear;
}

.skills_right .skill_text:hover {
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
}
